@use '../abstracts' as abs;

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: abs.$fontPoppins;
}

a {
  text-decoration: none;
  display: inline-block;
  color: abs.$dark;
  font-weight: 500;
  font-size: 1.125rem;

  @include abs.breakpoint(medium) {
    font-size: 1.5rem;
  }
}

img {
  width: 100%;
}
